*.db
*.sqlite3
/tmp/
.air.toml

# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove if using go modules)
/vendor/

# Local environment files
*.env
*.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store

# not ignore
!*.example
